*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy";
}
body{
	margin: 5px;
}
.container1, .container2{
	display: flex;         /* Activated the FlexBox*/
	flex-wrap: wrap;       /*This line will reverse the order of our images on web page */ 
	justify-content:center;	
}
h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid black;
	text-align:center; 
	width: 400px;          
	color: grey;
	box-shadow: 4px 4px 5px #88888888;
	margin-top: 2px; 
}
img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 0.5s;
}
img:hover{
	transform: scale(1.1);
}
